html, body {
    margin: 0;
    border: 0;
}

#wrapper{
	height: 100vh;
	position: relative;
}

/* Navigation changes */

.navbar{
	width: 100%;
	margin-bottom: 0;
	position: fixed;
	z-index: 3;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-toggle{
	background-color: #ddd;
}
.navbar-nav>li>a{
	color: #FFF !important;
}

.navbar-nav>li>a:focus{
	background-color: #269abc !important;
	color: black;
}

.navbar-nav>li>a:hover{
		background-color: #5bc0de !important;
	}

/* Main Content */

img{
	width:100%;
	height: 100vh;
	position: absolute;
	z-index: 1;
}

#singlebutton{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	outline: none;
	z-index: 2;
}

/* Footer */

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 4;
	
}

#title{
	display: block;
    color: #FFFFFF;
}




/* Mobile Nav Adjustments */

@media screen and (max-width: 767px){
    .navbar-default{
		background-color: transparent;
		border-color: transparent;
	}
	.navbar{
		width: auto;	
	}
	.navbar-toggle{
		float: none;
	}
	.navbar-nav>li>a{
		color: #FFF !important;
	}
	.navbar-nav>li>a:hover{
		background-color: #5bc0de !important;
	}
	h1{
		font-size: 2rem;
	}
}